@font-face {
    font-family: "Lato";
    src: url(fonts/Lato-Regular.ttf);
}
@media (max-width: 700px){
    body > .container{
        width: 85dvw;
    }
}
@media (max-width: 390px){
    .row1 > .button, .row2 > .button, .row3 > .button, .row4 > .button, .row5 > .button{
        width: 60px;
        height: 60px;
        font-size: 36px;
    }
}
@media (min-height: 1000px){
    .row1 > .button, .row2 > .button, .row3 > .button, .row4 > .button, .row5 > .button{
        font-size: 50px;
    }
}
    body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95dvw;
    height: 95dvh;
    gap: 15px;
    background-color: #252323;   
}
.title{
    font-size: 36px;
    font-family: "Lato";
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 86dvh;
    border: 2px solid black;
    background-color: #111111;

}
.output{
    padding-top: 75px;
    font-size: 52px;
    color: white;
    font-family: "Lato";
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 65%;
    width: 100%;
}
.row1, .row2, .row3, .row4, .row5{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.button{
    font-size: 36px;
    font-family: "Lato";
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

} 
.row1 > .clear{
    width: 68%;
    border-radius: 40px;
}
.divide, .times, .minus, .plus, .equals{
    background-color: #FF8C00;
}
.clear, .plus-or-minus, .percent{
    background-color: #464141;
}
.seven, .eight, .nine, .four, .five, .six, .one, .two, .three, .zero, .point{
    background-color: #252323;
}

.row1 > div:hover, .row2 > div:hover, .row3 > div:hover, .row4 > div:hover, .row5 > div:hover{
    transition: ease .07s all;
    transform: scale(1.1);
    cursor: pointer;
}
.row5 > .zero{
    border-radius: 40px;
    width: 43%;
}
